.formControl {
    width: 50%;
    margin-bottom: 40px !important;
}

.nativeSelect {
    width: 100% ;
    font-size: 20px !important;
}

.selectLabel {
    background-color: teal;
    color: white;
}